.work {
    padding-top: 0;
}

.work__list {
    display: flex;
    flex-wrap: wrap;
}

.work__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.work__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $page-text-color;
    line-height: 1.2;
}

.work__item {
    position: relative;
}

.work__content {
    position: absolute;
    z-index: 1;
    display: inline-flex;
    width: 100%;
    min-height: 70px;
    left: 0;
    bottom: 0;
    background-color: $work-color;
    justify-content: center;
    align-items: center;
}

.work__text {
    padding: 0;
    margin: 0;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-logo-color;
}

.work__item+.work__item {
    margin-left: 30px;
}