$secondary-text-color: #757575;
$page-text-color: #212121;
$accent-color: #2196f3;
$footer-color: rgba(255, 255, 255, 0.6);
$accent-background-color: #2f303a;
$secondary-logo-color: #ffffff;
$black-color: #000000;
$portfolio-background: #f5f5f5;
$portfolio-button: #f5f4fa;
$button-hero-active: #188ce8;
$port-stroke-color: #eeeeee;
$color-border-header: #ececec;
$icon-social: #afb1b8;
$footer-box-color: rgba(255, 255, 255, 0.1);
$under-hero: #c4c4c4;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
$work-color: rgba(47, 48, 58, 0.8);
$overlay-color: rgba(33, 150, 243, 0.9);
$overlay-modal-color: rgba(0, 0, 0, 0.2);
$modal-button-border: rgba(0, 0, 0, 0.1);
$input-field: rgba(33, 33, 33, 0.2);
$border: rgba(255, 255, 255, 0.3);
$color-emeil: rgba(255, 255, 255, 0.6);
$font-family: 'Roboto', sans-serif;
$font-family-logo: 'Raleway', sans-serif;